@using Vctoon.Blazor.Client.Components.Settings
@inherits VctoonComponentBase
@inject IStringLocalizer<VctoonResource> L
@inject IDialogService DialogService
@inject AppStore AppStore
@inject NavigationManager NavigationManager

<div class="flex flex-row items-center space-x-4">
    <FluentButton IconStart="@(new Icons.Filled.Size28.List())"
                  BackgroundColor="transparent"
                  Appearance="Appearance.Accent"
                  Style="margin: 0px;padding: 0px;"
                  OnClick="@(() => AppStore.NavMenuExpanded = !AppStore.NavMenuExpanded)">
    </FluentButton>
    <span class="text-3xl select-none mb-1.3">Vctoon</span>
</div>

<FluentSpacer/>

<div class="flex flex-row space-x-5 items-center select-none">

    <FluentIcon Id="NotificationTooltip" Value="@(new Icons.Regular.Size24.Alert())" Color="Color.Lightweight">
    </FluentIcon>

    <FluentTooltip Anchor="NotificationTooltip"
                   Position="TooltipPosition.Bottom">
        @L["Toolbar:NotificationTooltip"]
    </FluentTooltip>


    <ActiveButton></ActiveButton>


    <AppSettingBtn></AppSettingBtn>

    <UserProfile></UserProfile>


</div>

@code {


}