@inherits VctoonLayoutComponentBase
@inject IStringLocalizer<VctoonResource> L
<div class="mt-2 mx-2">
    <FluentLayout>
        <FluentHeader class="rounded-2">
            <HeaderContent></HeaderContent>
            
        </FluentHeader>
        
        <FluentStack Orientation="Orientation.Horizontal" Class="mt-2" style="height: calc(100dvh - 65.8px);">
            <NavMenu></NavMenu>
            
            <FluentBodyContent class="h-full w-full max-h-full overflow-y-auto">
                @Body
            </FluentBodyContent>
            <FluentToastProvider/>
            <FluentDialogProvider/>
            <FluentTooltipProvider/>
            <FluentMessageBarProvider Section="AppFluentMessageBarProvider"/>
        </FluentStack>
        
        
    </FluentLayout>
    
    
    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
</div>

@code
{
    
}