@page "/"
@inherits VctoonComponentBase
@attribute [Authorize]


<PageTitle>Home</PageTitle>
 
<FluentCard Width="400px" Height="250px">
    <span class="text-7xl text-red-500">Hello World!</span>
    <FluentButton Appearance="@Appearance.Accent">Click Me</FluentButton>
     
</FluentCard>
