@page "/"
@inherits VctoonComponentBase
@using Microsoft.AspNetCore.Components.Web

<PageTitle>Home</PageTitle>

<FluentCard Width="400px" Height="250px">
    <span class="text-3xl text-gray-500">Hello World!</span>
    <FluentButton Appearance="@Appearance.Accent">Click Me</FluentButton>
</FluentCard>
