@page "/"
@inherits VctoonComponentBase
@inject ILanguageProvider LanguageProvider
@attribute [Authorize]
@inject AppStore AppStore
@inject NavigationManager NavigationManager
<PageTitle>Home</PageTitle>

<div class="h-full">
    @for (int i = 0; i < 50; i++)
    {
        <FluentCard Width="400px" Height="250px">
            <span class="text-7xl text-red-500">Hello World!</span>
        </FluentCard>
    }
</div>


@code {
    
    
}