@page "/"
@inherits VctoonComponentBase
@inject ILanguageProvider LanguageProvider
@attribute [Authorize]
@inject AppStore AppStore
@inject NavigationManager NavigationManager
<PageTitle>Home</PageTitle>

<div class="h-full flex items-center justify-center">
    <span class="text-7xl text-green-700 font-bold">Welcome To Vctoon.</span>
</div>

@code {
    
    
}