@import 'tailwindcss' theme(static);
@import '@nuxt/ui';

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-green-50: oklch(90.98% 0.04338 166.72);
  --color-green-100: oklch(88.46% 0.05417 166.29);
  --color-green-200: oklch(83.957% 0.07763 165.13);
  --color-green-300: oklch(79.343% 0.09927 163.52);
  --color-green-400: oklch(74.927% 0.11835 162.26);
  --color-green-500: oklch(70.253% 0.13197 160.37);
  --color-green-600: oklch(58.426% 0.10793 160.73);
  --color-green-700: oklch(45.657% 0.08188 161.06);
  --color-green-800: oklch(32.298% 0.05338 161.83);
  --color-green-900: oklch(17.276% 0.02184 161.78);
}

.dark {
  --ui-primary: var(--ui-color-primary-500);
}

/* 全局滚动条样式 */
/* WebKit 浏览器（Chrome、Safari、Edge） */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: oklch(0% 0 0 / 0.2);
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: oklch(0% 0 0 / 0.3);
  background-clip: padding-box;
}

/* Firefox 浏览器 */
* {
  scrollbar-width: thin;
  scrollbar-color: oklch(0% 0 0 / 0.2) transparent;
}

/* 深色模式滚动条样式 */
.dark ::-webkit-scrollbar-thumb {
  background: oklch(100% 0 0 / 0.3);
  background-clip: padding-box;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: oklch(100% 0 0 / 0.4);
  background-clip: padding-box;
}

.dark * {
  scrollbar-color: oklch(100% 0 0 / 0.3) transparent;
}

.medium-content {
  @apply min-h-0 flex-1 overflow-auto;
}

.library-recommend {
  @apply flex min-h-0 flex-1 flex-col gap-16 overflow-auto;
}

.library-collection {
  @apply flex flex-1 flex-col overflow-auto;
}

.medium-toolbar {
  @apply flex w-full flex-col;
}
