@inject NavigationManager NavigationManager

<FluentNavMenu Expanded="@Expanded" class="max-h-full h-full overflow-y-auto rounded max-w-60">
    <FluentNavLink Icon="@(new Icons.Regular.Size24.Home())" Href="/">Home</FluentNavLink>
    <FluentNavGroup Id="LibraryGroup" Icon="@(new Icons.Regular.Size24.Library())">

        <TitleTemplate>

            <div class="flex flex-row justify-between items-center">
                <span>Library</span>



                <div @onclick="ToAddLibrary" @onclick:stopPropagation>
                    <FluentButton IconStart="@(new Icons.Regular.Size16.Add())"
                                  BackgroundColor="transparent"
                                  Appearance="Appearance.Stealth" />
                </div>
            </div>

        </TitleTemplate>

    </FluentNavGroup>

</FluentNavMenu>


@code {
    [Parameter] public bool Expanded { get; set; } = true;

    public void ToAddLibrary()
    {
        NavigationManager.NavigateTo("/libraries/create");
    }

}